//
   Created by PurpleUma on 8/25/17.
link(rel="stylesheet" href="./css/main.css")
include GLSL_Pal
include GLSL_Image
script(src="./js/three.min.js")

script(src="./js/GPUComputationRenderer.js")
script(src="./js/bundle.js")
