* {
  margin: 0;
  padding: 0;
}
body {
  font-weight: lighter;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #000;
  overflow: hidden;
  font-family: arial;
}
canvas {
  width: 1920px;
  height: 1080px;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 10;
}
img {
  width: 100%;
  height: 100%;
  position: absolute;
}
/*.ui {*/
  /*z-index: 12;*/
  /*opacity: 0;*/
/*}*/
/*.capture {*/
  /*z-index: 0;*/
/*}*/
.white {
  background-color: #fff;
  width: 100%;
  height: 100%;
  z-index: 11;
  position: absolute;
  opacity: 0;
}
/*.dg.ac {*/
  /*z-index: 99999999999;*/
/*}*/
.dualshock {
  color: #fff;
}
.particleNum {
  color: #fff;
}
/*.hide {*/
  /*display: none;*/
/*}*/
/*.debugWrapper {*/
  /*position: absolute;*/
  /*z-index: 999999;*/
/*}*/
/*.blackScreen {*/
  /*position: fixed;*/
  /*z-index: 9999999999;*/
  /*width: 100%;*/
  /*height: 100%;*/
  /*top: 0;*/
  /*left: 0;*/
  /*background-color: #000;*/
/*}*/
/*.start {*/
  /*padding: 20px;*/
  /*background-color: rgba(0,0,0,0);*/
  /*transition: background-color 3s linear;*/
/*}*/
/*.end {*/
  /*background-color: #000;*/
  /*transition: background-color 3s linear; !* 追加 *!*/
/*}*/
